<a routerLink="/administracion/crear-plan" class="btn">Nuevo Plan</a>
<table class="table responsive">
    <thead>
        <tr>
            <th>
                nombre
            </th>
            <th>
                descripcion
            </th>
            <th>
                precio
            </th>
            <th>
                editar
            </th>
            <th>
                eliminar
            </th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let p of listadoRegistros">
            <td>
                {{p.nombre}}
            </td>
            <td>
                {{p.descripcion}}
            </td>
            <td>
                {{p.precio}}
            </td>
            <td>
                <a routerLink="/administracion/editar-plan/{{p.id}}">Editar Plan</a>
            </td>
            <td>
                <a routerLink="/comercial/asignar-plan/{{p.id}}">Lista de mascotas</a>
            </td>
            <td>
                <a routerLink="/administracion/eliminar-plan/{{p.id}}">Eliminar Plan</a>
            </td>
            

        </tr>

    </tbody>


</table>


