
<table class="table responsive">
    <thead>
        <tr>
            <th>
                nombre
            </th>
            <th>
                foto
            </th>
            <th>
                estado
            </th>
            <th>
                especie
            </th>
            <th>
                comentario
            </th>
            <th>
                id usuario
            </th>
            <th>
                id Plan
            </th>
            <th>
                editar
            </th>
            <th>
                eliminar
            </th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let p of listadoRegistros">
            <td>
                {{p.nombre}}
            </td>
            <td>
               <img src="{{p.foto}}" class="foto-mascota"/>
            </td>
            <td>
                {{p.estado}}
            </td>
            <td>
                {{p.especie}}
            </td>
            <td>
                {{p.comentario}}
            </td>
            <td>
                {{p.usuarioId}}
            </td>
            <td>
                {{p.planId}}
            </td>
            
            <td>
                <a routerLink="/administracion/editar-mascota/{{p.id}}">Editar Mascota</a>
            </td>
            <td>
                <a routerLink="/administracion/eliminar-mascota/{{p.id}}">Eliminar Mascota</a>
            </td>
            

        </tr>

    </tbody>


</table>
