<a routerLink="/administracion/crear-sucursal" class="btn">Nueva Sucursal</a>
<table class="table responsive">
    <thead>
        <tr>
            <th>
                departamento
            </th>
            <th>
                ciudad
            </th>
            <th>
                direccion
            </th>
            <th>
                telefono
            </th>
            <th>
                editar
            </th>
            <th>
                eliminar
            </th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let p of listadoRegistros">
            <td>
                {{p.departamento}}
            </td>
            <td>
                {{p.ciudad}}
            </td>
            <td>
                {{p.direccion}}
            </td>
            <td>
                {{p.telefono}}
            </td>
            <td>
                <a routerLink="/administracion/editar-sucursal/{{p.id}}">Editar Sucursal</a>
            </td>
            <td>
                <a routerLink="/administracion/eliminar-sucursal/{{p.id}}">Eliminar Sucursal</a>
            </td>
            

        </tr>

    </tbody>


</table>

