<nav>
  <div class="nav-wrapper" style="background-color: #333 !important;">
    <a href="#" class="brand-logo"> <a href="#" class="brand-logo"><img src="https://www.losolivosbogota.com/landing_mercadeo/img/ICONOMASCOTAS-01.png" style="width: 70px; padding-top: 10px; padding-left: 10px;" /> </a>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="seguridad/identificacion">Log-In</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul>
  </div>
</nav>